In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=bbf9a0507c23eca10a3c3f83eb5022a5d78d17466630dba5b951506365cdb43a
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from datetime import datetime

In [ ]:
spark = SparkSession.builder.appName("PySparkSQLFunctions").getOrCreate()
spark

In [ ]:
data_ayush = [
    (1, "John Doe", "2024-08-01", 23, 1000.50),
    (2, "Jane Smith", "2024-08-02", 34, 2000.75),
    (3, "Jake White", "2024-08-03", 18, 3000.10),
    (4, "Jill Black", "2024-08-04", 45, 4000.25),
    (5, "James Brown", "2024-08-05", 29, 1500.30),
    (6, "AyushKumarMishra", "2024-08-06", 23, 2500.10),

]

In [ ]:
columns_ayush = ["id","name","dob","age","salary"]
df_ayush = spark.createDataFrame(data_ayush, columns_ayush)

In [ ]:
df_ayush.show()

+---+----------------+----------+---+-------+
| id|            name|       dob|age| salary|
+---+----------------+----------+---+-------+
|  1|        John Doe|2024-08-01| 23| 1000.5|
|  2|      Jane Smith|2024-08-02| 34|2000.75|
|  3|      Jake White|2024-08-03| 18| 3000.1|
|  4|      Jill Black|2024-08-04| 45|4000.25|
|  5|     James Brown|2024-08-05| 29| 1500.3|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|
+---+----------------+----------+---+-------+

In [ ]:
from pyspark.sql.functions import col

In [ ]:
#col
df_ayush.select(col("name")).show()

+----------------+
|            name|
+----------------+
|        John Doe|
|      Jane Smith|
|      Jake White|
|      Jill Black|
|     James Brown|
|AyushKumarMishra|
+----------------+

In [ ]:
#lit
df_country_ayush= df_ayush.withColumn("country", lit("USA"))
df_country_ayush.show()

+---+----------------+----------+---+-------+-------+
| id|            name|       dob|age| salary|country|
+---+----------------+----------+---+-------+-------+
|  1|        John Doe|2024-08-01| 23| 1000.5|    USA|
|  2|      Jane Smith|2024-08-02| 34|2000.75|    USA|
|  3|      Jake White|2024-08-03| 18| 3000.1|    USA|
|  4|      Jill Black|2024-08-04| 45|4000.25|    USA|
|  5|     James Brown|2024-08-05| 29| 1500.3|    USA|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|    USA|
+---+----------------+----------+---+-------+-------+

In [ ]:
df_ayush.show()

+---+----------------+----------+---+-------+
| id|            name|       dob|age| salary|
+---+----------------+----------+---+-------+
|  1|        John Doe|2024-08-01| 23| 1000.5|
|  2|      Jane Smith|2024-08-02| 34|2000.75|
|  3|      Jake White|2024-08-03| 18| 3000.1|
|  4|      Jill Black|2024-08-04| 45|4000.25|
|  5|     James Brown|2024-08-05| 29| 1500.3|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|
+---+----------------+----------+---+-------+

In [ ]:
#expr
from pyspark.sql.functions import expr

In [ ]:
df_age_ayush =df_ayush.withColumn("age_plus_5", expr("age + 5"))
df_age_ayush.show()

+---+----------------+----------+---+-------+----------+
| id|            name|       dob|age| salary|age_plus_5|
+---+----------------+----------+---+-------+----------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        28|
|  2|      Jane Smith|2024-08-02| 34|2000.75|        39|
|  3|      Jake White|2024-08-03| 18| 3000.1|        23|
|  4|      Jill Black|2024-08-04| 45|4000.25|        50|
|  5|     James Brown|2024-08-05| 29| 1500.3|        34|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|        28|
+---+----------------+----------+---+-------+----------+

In [ ]:
#when
from pyspark.sql.functions import when

In [ ]:
df_classification_ayush = df_ayush.withColumn("classification", when(col("age") >= 18, "Adult").otherwise("Minor"))
df_classification_ayush.show()

+---+----------------+----------+---+-------+--------------+
| id|            name|       dob|age| salary|classification|
+---+----------------+----------+---+-------+--------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|         Adult|
|  2|      Jane Smith|2024-08-02| 34|2000.75|         Adult|
|  3|      Jake White|2024-08-03| 18| 3000.1|         Adult|
|  4|      Jill Black|2024-08-04| 45|4000.25|         Adult|
|  5|     James Brown|2024-08-05| 29| 1500.3|         Adult|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         Adult|
+---+----------------+----------+---+-------+--------------+

In [ ]:
#concat
from pyspark.sql.functions import concat

In [ ]:
df_concat_ayush = df_ayush.withColumn("full_name", concat(col("name"), lit(" ")))

In [ ]:
df_concat_ayush.show()

+---+----------------+----------+---+-------+-----------------+
| id|            name|       dob|age| salary|        full_name|
+---+----------------+----------+---+-------+-----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        John Doe |
|  2|      Jane Smith|2024-08-02| 34|2000.75|      Jane Smith |
|  3|      Jake White|2024-08-03| 18| 3000.1|      Jake White |
|  4|      Jill Black|2024-08-04| 45|4000.25|      Jill Black |
|  5|     James Brown|2024-08-05| 29| 1500.3|     James Brown |
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|AyushKumarMishra |
+---+----------------+----------+---+-------+-----------------+

In [ ]:
#substring
from pyspark.sql.functions import substring

In [ ]:
df_substring_ayush = df_ayush.withColumn("first_three_chars", substring(col("name"), 1, 3))

+---+----------------+----------+---+-------+-----------------+
| id|            name|       dob|age| salary|first_three_chars|
+---+----------------+----------+---+-------+-----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|              Joh|
|  2|      Jane Smith|2024-08-02| 34|2000.75|              Jan|
|  3|      Jake White|2024-08-03| 18| 3000.1|              Jak|
|  4|      Jill Black|2024-08-04| 45|4000.25|              Jil|
|  5|     James Brown|2024-08-05| 29| 1500.3|              Jam|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|              Ayu|
+---+----------------+----------+---+-------+-----------------+

In [ ]:
df_substring_ayush.show()

+---+----------------+----------+---+-------+-----------------+
| id|            name|       dob|age| salary|first_three_chars|
+---+----------------+----------+---+-------+-----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|              Joh|
|  2|      Jane Smith|2024-08-02| 34|2000.75|              Jan|
|  3|      Jake White|2024-08-03| 18| 3000.1|              Jak|
|  4|      Jill Black|2024-08-04| 45|4000.25|              Jil|
|  5|     James Brown|2024-08-05| 29| 1500.3|              Jam|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|              Ayu|
+---+----------------+----------+---+-------+-----------------+

In [ ]:
#split
from pyspark.sql.functions import split

In [ ]:
df_split_ayush = df_ayush.withColumn("name_array", split(col("name"), " "))

In [ ]:
df_split_ayush.show()

+---+----------------+----------+---+-------+------------------+
| id|            name|       dob|age| salary|        name_array|
+---+----------------+----------+---+-------+------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|       [John, Doe]|
|  2|      Jane Smith|2024-08-02| 34|2000.75|     [Jane, Smith]|
|  3|      Jake White|2024-08-03| 18| 3000.1|     [Jake, White]|
|  4|      Jill Black|2024-08-04| 45|4000.25|     [Jill, Black]|
|  5|     James Brown|2024-08-05| 29| 1500.3|    [James, Brown]|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|[AyushKumarMishra]|
+---+----------------+----------+---+-------+------------------+

In [ ]:
#regexp_replace
from pyspark.sql.functions import regexp_replace

In [ ]:
df_replace_ayush = df_ayush.withColumn("replaced_name", regexp_replace(col("name"), "John", "Jon"))
df_replace_ayush.show()

+---+----------------+----------+---+-------+----------------+
| id|            name|       dob|age| salary|   replaced_name|
+---+----------------+----------+---+-------+----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|         Jon Doe|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      Jane Smith|
|  3|      Jake White|2024-08-03| 18| 3000.1|      Jake White|
|  4|      Jill Black|2024-08-04| 45|4000.25|      Jill Black|
|  5|     James Brown|2024-08-05| 29| 1500.3|     James Brown|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|AyushKumarMishra|
+---+----------------+----------+---+-------+----------------+

In [ ]:
#count
from pyspark.sql.functions import count

In [ ]:
df_count_ayush = df_ayush.agg(count("*").alias("total_count"))

In [ ]:
df_count_ayush.show()

+-----------+
|total_count|
+-----------+
|          6|
+-----------+

In [ ]:
#sum
from pyspark.sql.functions import sum

In [ ]:
df_sum_ayush = df_ayush.agg(sum("salary").alias("total_salary"))

In [ ]:
df_sum_ayush.show()

+------------+
|total_salary|
+------------+
|     14002.0|
+------------+

In [ ]:
#avg
from pyspark.sql.functions import avg

In [ ]:
df_avg_ayush = df_ayush.agg(avg("age").alias("average_age"))

In [ ]:
df_avg_ayush.show()

+------------------+
|       average_age|
+------------------+
|28.666666666666668|
+------------------+

In [ ]:
#max
from pyspark.sql.functions import max

In [ ]:
df_max_ayush = df_ayush.agg(max("salary").alias("max_salary"))

In [ ]:
df_max_ayush.show()

+----------+
|max_salary|
+----------+
|   4000.25|
+----------+

In [ ]:
#min
from pyspark.sql.functions import min

In [ ]:
df_min_ayush = df_ayush.agg(min("age").alias("min_age"))

In [ ]:
df_min_ayush.show()

+-------+
|min_age|
+-------+
|     18|
+-------+

In [ ]:
#round
from pyspark.sql.functions import round

In [ ]:
df_round_ayush = df_ayush.withColumn("rounded_salary", round(col("salary"), 0))

In [ ]:
df_round_ayush.show()

+---+----------------+----------+---+-------+--------------+
| id|            name|       dob|age| salary|rounded_salary|
+---+----------------+----------+---+-------+--------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        1001.0|
|  2|      Jane Smith|2024-08-02| 34|2000.75|        2001.0|
|  3|      Jake White|2024-08-03| 18| 3000.1|        3000.0|
|  4|      Jill Black|2024-08-04| 45|4000.25|        4000.0|
|  5|     James Brown|2024-08-05| 29| 1500.3|        1500.0|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|        2500.0|
+---+----------------+----------+---+-------+--------------+

In [ ]:
#date_format
from pyspark.sql.functions import date_format

In [ ]:
df_date_format_ayush = df_ayush.withColumn("formatted_dob", date_format(col("dob"), "MM/dd/yyyy"))

In [ ]:
df_date_format_ayush.show()

+---+----------------+----------+---+-------+-------------+
| id|            name|       dob|age| salary|formatted_dob|
+---+----------------+----------+---+-------+-------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|   08/01/2024|
|  2|      Jane Smith|2024-08-02| 34|2000.75|   08/02/2024|
|  3|      Jake White|2024-08-03| 18| 3000.1|   08/03/2024|
|  4|      Jill Black|2024-08-04| 45|4000.25|   08/04/2024|
|  5|     James Brown|2024-08-05| 29| 1500.3|   08/05/2024|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|   08/06/2024|
+---+----------------+----------+---+-------+-------------+

In [ ]:
#current_date
from pyspark.sql.functions import current_date

In [ ]:
df_current_date_ayush = df_ayush.withColumn("current_date", current_date())

In [ ]:
df_current_date_ayush.show()

+---+----------------+----------+---+-------+------------+
| id|            name|       dob|age| salary|current_date|
+---+----------------+----------+---+-------+------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|  2024-08-17|
|  2|      Jane Smith|2024-08-02| 34|2000.75|  2024-08-17|
|  3|      Jake White|2024-08-03| 18| 3000.1|  2024-08-17|
|  4|      Jill Black|2024-08-04| 45|4000.25|  2024-08-17|
|  5|     James Brown|2024-08-05| 29| 1500.3|  2024-08-17|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|  2024-08-17|
+---+----------------+----------+---+-------+------------+

In [ ]:
#current_timestamp
from pyspark.sql.functions import current_timestamp

In [ ]:
df_current_timestamp_ayush = df_ayush.withColumn("current_timestamp", current_timestamp())

In [ ]:
df_current_timestamp_ayush.show(truncate=False)

+---+----------------+----------+---+-------+--------------------------+
|id |name            |dob       |age|salary |current_timestamp         |
+---+----------------+----------+---+-------+--------------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |2024-08-17 07:56:24.442251|
|2  |Jane Smith      |2024-08-02|34 |2000.75|2024-08-17 07:56:24.442251|
|3  |Jake White      |2024-08-03|18 |3000.1 |2024-08-17 07:56:24.442251|
|4  |Jill Black      |2024-08-04|45 |4000.25|2024-08-17 07:56:24.442251|
|5  |James Brown     |2024-08-05|29 |1500.3 |2024-08-17 07:56:24.442251|
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |2024-08-17 07:56:24.442251|
+---+----------------+----------+---+-------+--------------------------+

In [ ]:
#year , month , dayofmonth
from pyspark.sql.functions import year , month , dayofmonth

In [ ]:
df_year_ayush = df_ayush.withColumn("year", year(col("dob")))

In [ ]:
df_year_ayush.show()

+---+----------------+----------+---+-------+----+
| id|            name|       dob|age| salary|year|
+---+----------------+----------+---+-------+----+
|  1|        John Doe|2024-08-01| 23| 1000.5|2024|
|  2|      Jane Smith|2024-08-02| 34|2000.75|2024|
|  3|      Jake White|2024-08-03| 18| 3000.1|2024|
|  4|      Jill Black|2024-08-04| 45|4000.25|2024|
|  5|     James Brown|2024-08-05| 29| 1500.3|2024|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|2024|
+---+----------------+----------+---+-------+----+

In [ ]:
#date_add
from pyspark.sql.functions import date_add

In [ ]:
df_date_add_ayush = df_ayush.withColumn("date_after_10_days", date_add(col("dob"), 10))

In [ ]:
df_date_add_ayush.show()

+---+----------------+----------+---+-------+------------------+
| id|            name|       dob|age| salary|date_after_10_days|
+---+----------------+----------+---+-------+------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        2024-08-11|
|  2|      Jane Smith|2024-08-02| 34|2000.75|        2024-08-12|
|  3|      Jake White|2024-08-03| 18| 3000.1|        2024-08-13|
|  4|      Jill Black|2024-08-04| 45|4000.25|        2024-08-14|
|  5|     James Brown|2024-08-05| 29| 1500.3|        2024-08-15|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|        2024-08-16|
+---+----------------+----------+---+-------+------------------+

In [ ]:
#date_sub
from pyspark.sql.functions import date_sub

In [ ]:
df_date_sub_ayush = df_ayush.withColumn("date_before_10_days", date_sub(col("dob"), 10))

In [ ]:
df_date_sub_ayush.show()

+---+----------------+----------+---+-------+-------------------+
| id|            name|       dob|age| salary|date_before_10_days|
+---+----------------+----------+---+-------+-------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|         2024-07-22|
|  2|      Jane Smith|2024-08-02| 34|2000.75|         2024-07-23|
|  3|      Jake White|2024-08-03| 18| 3000.1|         2024-07-24|
|  4|      Jill Black|2024-08-04| 45|4000.25|         2024-07-25|
|  5|     James Brown|2024-08-05| 29| 1500.3|         2024-07-26|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         2024-07-27|
+---+----------------+----------+---+-------+-------------------+

In [ ]:
#datediff
from pyspark.sql.functions import datediff

In [ ]:
df_date_diff_ayush = df_ayush.withColumn("days_since_dob", datediff(current_date(), col("dob")))

In [ ]:
df_date_diff_ayush.show()

+---+----------------+----------+---+-------+--------------+
| id|            name|       dob|age| salary|days_since_dob|
+---+----------------+----------+---+-------+--------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|            16|
|  2|      Jane Smith|2024-08-02| 34|2000.75|            15|
|  3|      Jake White|2024-08-03| 18| 3000.1|            14|
|  4|      Jill Black|2024-08-04| 45|4000.25|            13|
|  5|     James Brown|2024-08-05| 29| 1500.3|            12|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|            11|
+---+----------------+----------+---+-------+--------------+

In [ ]:
#to_date
from pyspark.sql.functions import to_date

In [ ]:
df_to_date_ayush = df_ayush.withColumn("dob_as_date", to_date(col("dob"), "yyyy-MM-dd"))

In [ ]:
df_to_date_ayush.show()

+---+----------------+----------+---+-------+-----------+
| id|            name|       dob|age| salary|dob_as_date|
+---+----------------+----------+---+-------+-----------+
|  1|        John Doe|2024-08-01| 23| 1000.5| 2024-08-01|
|  2|      Jane Smith|2024-08-02| 34|2000.75| 2024-08-02|
|  3|      Jake White|2024-08-03| 18| 3000.1| 2024-08-03|
|  4|      Jill Black|2024-08-04| 45|4000.25| 2024-08-04|
|  5|     James Brown|2024-08-05| 29| 1500.3| 2024-08-05|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1| 2024-08-06|
+---+----------------+----------+---+-------+-----------+

In [ ]:
#to_timestamp
from pyspark.sql.functions import to_timestamp

In [ ]:
df_to_timestamp_ayush = df_ayush.withColumn("dob_as_timestamp", to_timestamp(col("dob"), "yyyy-MM-dd"))

In [ ]:
df_to_timestamp_ayush.show(truncate=False)

+---+----------------+----------+---+-------+-------------------+
|id |name            |dob       |age|salary |dob_as_timestamp   |
+---+----------------+----------+---+-------+-------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |2024-08-01 00:00:00|
|2  |Jane Smith      |2024-08-02|34 |2000.75|2024-08-02 00:00:00|
|3  |Jake White      |2024-08-03|18 |3000.1 |2024-08-03 00:00:00|
|4  |Jill Black      |2024-08-04|45 |4000.25|2024-08-04 00:00:00|
|5  |James Brown     |2024-08-05|29 |1500.3 |2024-08-05 00:00:00|
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |2024-08-06 00:00:00|
+---+----------------+----------+---+-------+-------------------+

In [ ]:
#window
from pyspark.sql.functions import window

In [ ]:
df_window_ayush = df_ayush.withColumn("window", window(col("dob"), "1 day"))

In [ ]:
df_window_ayush.show(truncate=False)

+---+----------------+----------+---+-------+------------------------------------------+
|id |name            |dob       |age|salary |window                                    |
+---+----------------+----------+---+-------+------------------------------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |{2024-08-01 00:00:00, 2024-08-02 00:00:00}|
|2  |Jane Smith      |2024-08-02|34 |2000.75|{2024-08-02 00:00:00, 2024-08-03 00:00:00}|
|3  |Jake White      |2024-08-03|18 |3000.1 |{2024-08-03 00:00:00, 2024-08-04 00:00:00}|
|4  |Jill Black      |2024-08-04|45 |4000.25|{2024-08-04 00:00:00, 2024-08-05 00:00:00}|
|5  |James Brown     |2024-08-05|29 |1500.3 |{2024-08-05 00:00:00, 2024-08-06 00:00:00}|
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |{2024-08-06 00:00:00, 2024-08-07 00:00:00}|
+---+----------------+----------+---+-------+------------------------------------------+

In [ ]:
#rank, dense_rank, row_number
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank, row_number

In [ ]:
windowSpec_ayush = Window.orderBy(col("salary").desc())

In [ ]:
df_ayush.withColumn("rank", rank().over(windowSpec_ayush)).withColumn("dense_rank", dense_rank().over(windowSpec_ayush)).withColumn("row_number", row_number().over(windowSpec_ayush)).show()

+---+----------------+----------+---+-------+----+----------+----------+
| id|            name|       dob|age| salary|rank|dense_rank|row_number|
+---+----------------+----------+---+-------+----+----------+----------+
|  4|      Jill Black|2024-08-04| 45|4000.25|   1|         1|         1|
|  3|      Jake White|2024-08-03| 18| 3000.1|   2|         2|         2|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|   3|         3|         3|
|  2|      Jane Smith|2024-08-02| 34|2000.75|   4|         4|         4|
|  5|     James Brown|2024-08-05| 29| 1500.3|   5|         5|         5|
|  1|        John Doe|2024-08-01| 23| 1000.5|   6|         6|         6|
+---+----------------+----------+---+-------+----+----------+----------+

In [ ]:
#array
from pyspark.sql.functions import array

In [ ]:
df_array_ayush = df_ayush.withColumn("array_column", array(col("id"), col("age")))

In [ ]:
df_array_ayush.show()

+---+----------------+----------+---+-------+------------+
| id|            name|       dob|age| salary|array_column|
+---+----------------+----------+---+-------+------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|     [1, 23]|
|  2|      Jane Smith|2024-08-02| 34|2000.75|     [2, 34]|
|  3|      Jake White|2024-08-03| 18| 3000.1|     [3, 18]|
|  4|      Jill Black|2024-08-04| 45|4000.25|     [4, 45]|
|  5|     James Brown|2024-08-05| 29| 1500.3|     [5, 29]|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|     [6, 23]|
+---+----------------+----------+---+-------+------------+

In [ ]:
#array_contains
from pyspark.sql.functions import array_contains

In [ ]:
df_array_contains_ayush = df_ayush.withColumn("contains_id_1", array_contains(array(col("id")), 1))

In [ ]:
df_array_contains_ayush.show()

+---+----------------+----------+---+-------+-------------+
| id|            name|       dob|age| salary|contains_id_1|
+---+----------------+----------+---+-------+-------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|         true|
|  2|      Jane Smith|2024-08-02| 34|2000.75|        false|
|  3|      Jake White|2024-08-03| 18| 3000.1|        false|
|  4|      Jill Black|2024-08-04| 45|4000.25|        false|
|  5|     James Brown|2024-08-05| 29| 1500.3|        false|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|        false|
+---+----------------+----------+---+-------+-------------+

In [ ]:
#explode
from pyspark.sql.functions import explode

In [ ]:
df_explode_ayush = df_ayush.withColumn("exploded_array", explode(array(col("id"), col("age"))))

In [ ]:
df_explode_ayush.show()

+---+----------------+----------+---+-------+--------------+
| id|            name|       dob|age| salary|exploded_array|
+---+----------------+----------+---+-------+--------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|             1|
|  1|        John Doe|2024-08-01| 23| 1000.5|            23|
|  2|      Jane Smith|2024-08-02| 34|2000.75|             2|
|  2|      Jane Smith|2024-08-02| 34|2000.75|            34|
|  3|      Jake White|2024-08-03| 18| 3000.1|             3|
|  3|      Jake White|2024-08-03| 18| 3000.1|            18|
|  4|      Jill Black|2024-08-04| 45|4000.25|             4|
|  4|      Jill Black|2024-08-04| 45|4000.25|            45|
|  5|     James Brown|2024-08-05| 29| 1500.3|             5|
|  5|     James Brown|2024-08-05| 29| 1500.3|            29|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|             6|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|            23|
+---+----------------+----------+---+-------+--------------+

In [ ]:
#create_map
from pyspark.sql.functions import create_map

In [ ]:
df_map_ayush = df_ayush.withColumn("map_column", create_map(lit("name"), col("name"), lit("age"), col("age")))

In [ ]:
df_map_ayush.show(truncate=False)

+---+----------------+----------+---+-------+-------------------------------------+
|id |name            |dob       |age|salary |map_column                           |
+---+----------------+----------+---+-------+-------------------------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |{name -> John Doe, age -> 23}        |
|2  |Jane Smith      |2024-08-02|34 |2000.75|{name -> Jane Smith, age -> 34}      |
|3  |Jake White      |2024-08-03|18 |3000.1 |{name -> Jake White, age -> 18}      |
|4  |Jill Black      |2024-08-04|45 |4000.25|{name -> Jill Black, age -> 45}      |
|5  |James Brown     |2024-08-05|29 |1500.3 |{name -> James Brown, age -> 29}     |
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |{name -> AyushKumarMishra, age -> 23}|
+---+----------------+----------+---+-------+-------------------------------------+

In [ ]:
#coalesce
from pyspark.sql.functions import coalesce

In [ ]:
df_coalesce_ayush = df_ayush.withColumn("coalesced_value", coalesce(col("name"), col("age")))

In [ ]:
df_coalesce_ayush.show()

+---+----------------+----------+---+-------+----------------+
| id|            name|       dob|age| salary| coalesced_value|
+---+----------------+----------+---+-------+----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        John Doe|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      Jane Smith|
|  3|      Jake White|2024-08-03| 18| 3000.1|      Jake White|
|  4|      Jill Black|2024-08-04| 45|4000.25|      Jill Black|
|  5|     James Brown|2024-08-05| 29| 1500.3|     James Brown|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|AyushKumarMishra|
+---+----------------+----------+---+-------+----------------+

In [ ]:
#isnull
from pyspark.sql.functions import isnull

In [ ]:
df_isnull_ayush = df_ayush.withColumn("is_name_null", isnull(col("name")))

In [ ]:
df_isnull_ayush.show()

+---+----------------+----------+---+-------+------------+
| id|            name|       dob|age| salary|is_name_null|
+---+----------------+----------+---+-------+------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|       false|
|  2|      Jane Smith|2024-08-02| 34|2000.75|       false|
|  3|      Jake White|2024-08-03| 18| 3000.1|       false|
|  4|      Jill Black|2024-08-04| 45|4000.25|       false|
|  5|     James Brown|2024-08-05| 29| 1500.3|       false|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|       false|
+---+----------------+----------+---+-------+------------+

In [ ]:
#isnan
from pyspark.sql.functions import isnan

In [ ]:
df_isnan_ayush = df_ayush.withColumn("is_age_nan", isnan(col("age")))

In [ ]:
df_isnan_ayush.show()

+---+----------------+----------+---+-------+----------+
| id|            name|       dob|age| salary|is_age_nan|
+---+----------------+----------+---+-------+----------+
|  1|        John Doe|2024-08-01| 23| 1000.5|     false|
|  2|      Jane Smith|2024-08-02| 34|2000.75|     false|
|  3|      Jake White|2024-08-03| 18| 3000.1|     false|
|  4|      Jill Black|2024-08-04| 45|4000.25|     false|
|  5|     James Brown|2024-08-05| 29| 1500.3|     false|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|     false|
+---+----------------+----------+---+-------+----------+

In [ ]:
#sha2
from pyspark.sql.functions import sha2

In [ ]:
df_sha2_ayush = df_ayush.withColumn("sha2_hash", sha2(col("name"), 256))

In [ ]:
df_sha2_ayush.show(truncate=False)

+---+----------------+----------+---+-------+----------------------------------------------------------------+
|id |name            |dob       |age|salary |sha2_hash                                                       |
+---+----------------+----------+---+-------+----------------------------------------------------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |6cea57c2fb6cbc2a40411135005760f241fffc3e5e67ab99882726431037f908|
|2  |Jane Smith      |2024-08-02|34 |2000.75|a2dd3acadb1c9dcd956216993056a7f50a9db6e3a16c60b35482139b5349c288|
|3  |Jake White      |2024-08-03|18 |3000.1 |46dae60ac51d1dfbb195b62ca2a6c4fd76f0d0ef5e32ee32a3b9987bc30251ef|
|4  |Jill Black      |2024-08-04|45 |4000.25|7db233fa461a23bfe24e0c1b5f0cd82e8750969c1e9c4450761cf800425caba7|
|5  |James Brown     |2024-08-05|29 |1500.3 |b3d60509901a9912f651bac21d52c7ddffc9bc8620f5052fbddd39e3c59f84b0|
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |bb8d28b36e4ed9bb8b9437f8a61e4df8f92ee6bc88cb800f7c34934801d5da59|
+---+----------------+----------+---+-------+----------------------------------------------------------------+

In [ ]:
#md5
from pyspark.sql.functions import md5

In [ ]:
df_md5_ayush = df_ayush.withColumn("md5_hash", md5(col("name")))

In [ ]:
df_md5_ayush.show(truncate=False)

+---+----------------+----------+---+-------+--------------------------------+
|id |name            |dob       |age|salary |md5_hash                        |
+---+----------------+----------+---+-------+--------------------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |4c2a904bafba06591225113ad17b5cec|
|2  |Jane Smith      |2024-08-02|34 |2000.75|71768b5e2a0b3697eb3c0c6d4ebbbaf8|
|3  |Jake White      |2024-08-03|18 |3000.1 |3ee9984296bc94702c3fa0b750b928fb|
|4  |Jill Black      |2024-08-04|45 |4000.25|78b82745b366583ae84dde2d90114901|
|5  |James Brown     |2024-08-05|29 |1500.3 |8495e8e406d3d625719ae2a9fb8d2f9b|
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |86cc692462570138ee65420b6aa0df20|
+---+----------------+----------+---+-------+--------------------------------+

In [ ]:
#monotonically_increasing_id
from pyspark.sql.functions import monotonically_increasing_id

In [ ]:
df_monotonically_increasing_id_ayush = df_ayush.withColumn("monotonically_increasing_id", monotonically_increasing_id())

In [ ]:
df_monotonically_increasing_id_ayush.show()

+---+----------------+----------+---+-------+---------------------------+
| id|            name|       dob|age| salary|monotonically_increasing_id|
+---+----------------+----------+---+-------+---------------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|                          0|
|  2|      Jane Smith|2024-08-02| 34|2000.75|                          1|
|  3|      Jake White|2024-08-03| 18| 3000.1|                          2|
|  4|      Jill Black|2024-08-04| 45|4000.25|                 8589934592|
|  5|     James Brown|2024-08-05| 29| 1500.3|                 8589934593|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|                 8589934594|
+---+----------------+----------+---+-------+---------------------------+

In [ ]:
#length
from pyspark.sql.functions import length

In [ ]:
df_length_ayush = df_ayush.withColumn("name_length", length(col("name")))

In [ ]:
df_length_ayush.show()

+---+----------------+----------+---+-------+-----------+
| id|            name|       dob|age| salary|name_length|
+---+----------------+----------+---+-------+-----------+
|  1|        John Doe|2024-08-01| 23| 1000.5|          8|
|  2|      Jane Smith|2024-08-02| 34|2000.75|         10|
|  3|      Jake White|2024-08-03| 18| 3000.1|         10|
|  4|      Jill Black|2024-08-04| 45|4000.25|         10|
|  5|     James Brown|2024-08-05| 29| 1500.3|         11|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         16|
+---+----------------+----------+---+-------+-----------+

In [ ]:
#upper, #lower
from pyspark.sql.functions import upper , lower

In [ ]:
df_upper_lower_ayush = df_ayush.withColumn("name_upper", upper(col("name"))).withColumn("name_lower", lower(col("name")))

In [ ]:
df_upper_lower_ayush.show()

+---+----------------+----------+---+-------+----------------+----------------+
| id|            name|       dob|age| salary|      name_upper|      name_lower|
+---+----------------+----------+---+-------+----------------+----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        JOHN DOE|        john doe|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      JANE SMITH|      jane smith|
|  3|      Jake White|2024-08-03| 18| 3000.1|      JAKE WHITE|      jake white|
|  4|      Jill Black|2024-08-04| 45|4000.25|      JILL BLACK|      jill black|
|  5|     James Brown|2024-08-05| 29| 1500.3|     JAMES BROWN|     james brown|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|AYUSHKUMARMISHRA|ayushkumarmishra|
+---+----------------+----------+---+-------+----------------+----------------+

In [ ]:
#trim, ltrim, rtrim
from pyspark.sql.functions import trim, ltrim, rtrim

In [ ]:
df_all_ayush = df_ayush.withColumn("name_trimmed", trim(col("name"))).withColumn("name_ltrimmed", ltrim(col("name"))).withColumn("name_rtrimmed", rtrim(col("name")))

In [ ]:
df_all_ayush.show()

+---+----------------+----------+---+-------+----------------+----------------+----------------+
| id|            name|       dob|age| salary|    name_trimmed|   name_ltrimmed|   name_rtrimmed|
+---+----------------+----------+---+-------+----------------+----------------+----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        John Doe|        John Doe|        John Doe|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      Jane Smith|      Jane Smith|      Jane Smith|
|  3|      Jake White|2024-08-03| 18| 3000.1|      Jake White|      Jake White|      Jake White|
|  4|      Jill Black|2024-08-04| 45|4000.25|      Jill Black|      Jill Black|      Jill Black|
|  5|     James Brown|2024-08-05| 29| 1500.3|     James Brown|     James Brown|     James Brown|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|AyushKumarMishra|AyushKumarMishra|AyushKumarMishra|
+---+----------------+----------+---+-------+----------------+----------------+----------------+

In [ ]:
#abs
from pyspark.sql.functions import abs

In [ ]:
df_abs_ayush = df_ayush.withColumn("abs_salary", abs(col("salary") - 3000))

In [ ]:
df_abs_ayush.show()

+---+----------------+----------+---+-------+-------------------+
| id|            name|       dob|age| salary|         abs_salary|
+---+----------------+----------+---+-------+-------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|             1999.5|
|  2|      Jane Smith|2024-08-02| 34|2000.75|             999.25|
|  3|      Jake White|2024-08-03| 18| 3000.1|0.09999999999990905|
|  4|      Jill Black|2024-08-04| 45|4000.25|            1000.25|
|  5|     James Brown|2024-08-05| 29| 1500.3|             1499.7|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|  499.9000000000001|
+---+----------------+----------+---+-------+-------------------+

In [ ]:
#sqrt
from pyspark.sql.functions import sqrt

In [ ]:
df_sqrt_ayush = df_ayush.withColumn("sqrt_age", sqrt(col("age")))

In [ ]:
df_sqrt_ayush.show()

+---+----------------+----------+---+-------+-----------------+
| id|            name|       dob|age| salary|         sqrt_age|
+---+----------------+----------+---+-------+-----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|4.795831523312719|
|  2|      Jane Smith|2024-08-02| 34|2000.75|5.830951894845301|
|  3|      Jake White|2024-08-03| 18| 3000.1|4.242640687119285|
|  4|      Jill Black|2024-08-04| 45|4000.25|6.708203932499369|
|  5|     James Brown|2024-08-05| 29| 1500.3|5.385164807134504|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|4.795831523312719|
+---+----------------+----------+---+-------+-----------------+

In [ ]:
#exp
from pyspark.sql.functions import exp

In [ ]:
df_exp_ayush= df_ayush.withColumn("exp_age", exp(col("age")))

In [ ]:
df_exp_ayush.show()

+---+----------------+----------+---+-------+--------------------+
| id|            name|       dob|age| salary|             exp_age|
+---+----------------+----------+---+-------+--------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5| 9.744803446248903E9|
|  2|      Jane Smith|2024-08-02| 34|2000.75|5.834617425274549E14|
|  3|      Jake White|2024-08-03| 18| 3000.1| 6.565996913733051E7|
|  4|      Jill Black|2024-08-04| 45|4000.25|3.493427105748509...|
|  5|     James Brown|2024-08-05| 29| 1500.3|3.931334297144042E12|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1| 9.744803446248903E9|
+---+----------------+----------+---+-------+--------------------+

In [ ]:
#log
from pyspark.sql.functions import log, log10, log2

In [ ]:
df_all_ayush = df_ayush.withColumn("log_age", log(col("age"))).withColumn("log10_age", log10(col("age"))).withColumn("log2_age", log2(col("age")))

In [ ]:
df_all_ayush.show()

+---+----------------+----------+---+-------+------------------+------------------+-----------------+
| id|            name|       dob|age| salary|           log_age|         log10_age|         log2_age|
+---+----------------+----------+---+-------+------------------+------------------+-----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|3.1354942159291497|1.3617278360175928|4.523561956057013|
|  2|      Jane Smith|2024-08-02| 34|2000.75|3.5263605246161616|1.5314789170422551| 5.08746284125034|
|  3|      Jake White|2024-08-03| 18| 3000.1|2.8903717578961645| 1.255272505103306|4.169925001442312|
|  4|      Jill Black|2024-08-04| 45|4000.25|3.8066624897703196|1.6532125137753437|5.491853096329675|
|  5|     James Brown|2024-08-05| 29| 1500.3| 3.367295829986474| 1.462397997898956|4.857980995127573|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|3.1354942159291497|1.3617278360175928|4.523561956057013|
+---+----------------+----------+---+-------+------------------+------------------+-----------------+

In [ ]:
#greatest, least
from pyspark.sql.functions import greatest, least

In [ ]:
df_greatest_ayush = df_ayush.withColumn("greatest_value", greatest(col("id"), col("age")))
print(df_greatest_ayush.show())

+---+----------------+----------+---+-------+--------------+
| id|            name|       dob|age| salary|greatest_value|
+---+----------------+----------+---+-------+--------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|            23|
|  2|      Jane Smith|2024-08-02| 34|2000.75|            34|
|  3|      Jake White|2024-08-03| 18| 3000.1|            18|
|  4|      Jill Black|2024-08-04| 45|4000.25|            45|
|  5|     James Brown|2024-08-05| 29| 1500.3|            29|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|            23|
+---+----------------+----------+---+-------+--------------+

None

In [ ]:
df_least_ayush = df_ayush.withColumn("least_value", least(col("id"), col("age")))
print(df_least_ayush.show())

+---+----------------+----------+---+-------+-----------+
| id|            name|       dob|age| salary|least_value|
+---+----------------+----------+---+-------+-----------+
|  1|        John Doe|2024-08-01| 23| 1000.5|          1|
|  2|      Jane Smith|2024-08-02| 34|2000.75|          2|
|  3|      Jake White|2024-08-03| 18| 3000.1|          3|
|  4|      Jill Black|2024-08-04| 45|4000.25|          4|
|  5|     James Brown|2024-08-05| 29| 1500.3|          5|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|          6|
+---+----------------+----------+---+-------+-----------+

None

In [ ]:
#pow
from pyspark.sql.functions import pow

In [ ]:
df_pow_ayush = df_ayush.withColumn("pow_result", pow(col("id"), col("age")))

In [ ]:
df_pow_ayush.show(truncate=False)

+---+----------------+----------+---+-------+---------------------+
|id |name            |dob       |age|salary |pow_result           |
+---+----------------+----------+---+-------+---------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |1.0                  |
|2  |Jane Smith      |2024-08-02|34 |2000.75|1.7179869184E10      |
|3  |Jake White      |2024-08-03|18 |3000.1 |3.87420489E8         |
|4  |Jill Black      |2024-08-04|45 |4000.25|1.2379400392853803E27|
|5  |James Brown     |2024-08-05|29 |1500.3 |1.8626451492309572E20|
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |7.8973022305360282E17|
+---+----------------+----------+---+-------+---------------------+

In [ ]:
#round, bround
from pyspark.sql.functions import round, bround

In [ ]:
df_round_ayush = df_ayush.withColumn("rounded_salary", round(col("salary"), 0))
print(df_round_ayush.show())

+---+----------------+----------+---+-------+--------------+
| id|            name|       dob|age| salary|rounded_salary|
+---+----------------+----------+---+-------+--------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        1001.0|
|  2|      Jane Smith|2024-08-02| 34|2000.75|        2001.0|
|  3|      Jake White|2024-08-03| 18| 3000.1|        3000.0|
|  4|      Jill Black|2024-08-04| 45|4000.25|        4000.0|
|  5|     James Brown|2024-08-05| 29| 1500.3|        1500.0|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|        2500.0|
+---+----------------+----------+---+-------+--------------+

None

In [ ]:
df_bround_ayush = df_ayush.withColumn("brounded_salary", bround(col("salary"), 0))
print(df_bround_ayush.show())

+---+----------------+----------+---+-------+---------------+
| id|            name|       dob|age| salary|brounded_salary|
+---+----------------+----------+---+-------+---------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|         1000.0|
|  2|      Jane Smith|2024-08-02| 34|2000.75|         2001.0|
|  3|      Jake White|2024-08-03| 18| 3000.1|         3000.0|
|  4|      Jill Black|2024-08-04| 45|4000.25|         4000.0|
|  5|     James Brown|2024-08-05| 29| 1500.3|         1500.0|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         2500.0|
+---+----------------+----------+---+-------+---------------+

None

In [ ]:
#degrees, radians
from pyspark.sql.functions import degrees, radians

In [ ]:
df_degrees_ayush = df_ayush.withColumn("degrees_value", degrees(col("age")))
print(df_degrees_ayush.show())

+---+----------------+----------+---+-------+------------------+
| id|            name|       dob|age| salary|     degrees_value|
+---+----------------+----------+---+-------+------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|1317.8029288008934|
|  2|      Jane Smith|2024-08-02| 34|2000.75| 1948.056503444799|
|  3|      Jake White|2024-08-03| 18| 3000.1| 1031.324031235482|
|  4|      Jill Black|2024-08-04| 45|4000.25|2578.3100780887044|
|  5|     James Brown|2024-08-05| 29| 1500.3|1661.5776058793874|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|1317.8029288008934|
+---+----------------+----------+---+-------+------------------+

None

In [ ]:
df_radians_ayush = df_ayush.withColumn("radians_value", radians(col("age")))
print(df_radians_ayush.show())

+---+----------------+----------+---+-------+------------------+
| id|            name|       dob|age| salary|     radians_value|
+---+----------------+----------+---+-------+------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|0.4014257279586958|
|  2|      Jane Smith|2024-08-02| 34|2000.75|0.5934119456780721|
|  3|      Jake White|2024-08-03| 18| 3000.1|0.3141592653589793|
|  4|      Jill Black|2024-08-04| 45|4000.25|0.7853981633974483|
|  5|     James Brown|2024-08-05| 29| 1500.3|0.5061454830783556|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|0.4014257279586958|
+---+----------------+----------+---+-------+------------------+

None

In [ ]:
#signum
from pyspark.sql.functions import signum

In [ ]:
df_signum_ayush = df_ayush.withColumn("signum_value", signum(col("age")))
df_signum_ayush.show()

+---+----------------+----------+---+-------+------------+
| id|            name|       dob|age| salary|signum_value|
+---+----------------+----------+---+-------+------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|         1.0|
|  2|      Jane Smith|2024-08-02| 34|2000.75|         1.0|
|  3|      Jake White|2024-08-03| 18| 3000.1|         1.0|
|  4|      Jill Black|2024-08-04| 45|4000.25|         1.0|
|  5|     James Brown|2024-08-05| 29| 1500.3|         1.0|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         1.0|
+---+----------------+----------+---+-------+------------+

In [ ]:
#hex, unhex
from pyspark.sql.functions import hex, unhex

In [ ]:
df_all_ayush= df_ayush.withColumn("hex_name", hex(col("id"))).withColumn("unhex_name", unhex(hex(col("id"))))
df_all_ayush.show()

+---+----------------+----------+---+-------+--------+----------+
| id|            name|       dob|age| salary|hex_name|unhex_name|
+---+----------------+----------+---+-------+--------+----------+
|  1|        John Doe|2024-08-01| 23| 1000.5|       1|      [01]|
|  2|      Jane Smith|2024-08-02| 34|2000.75|       2|      [02]|
|  3|      Jake White|2024-08-03| 18| 3000.1|       3|      [03]|
|  4|      Jill Black|2024-08-04| 45|4000.25|       4|      [04]|
|  5|     James Brown|2024-08-05| 29| 1500.3|       5|      [05]|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|       6|      [06]|
+---+----------------+----------+---+-------+--------+----------+

In [ ]:
#nvl, nvl2, col
from pyspark.sql.functions import nvl, nvl2, col

In [ ]:
df_nvl_ayush = df_ayush.withColumn("nvl_age", nvl(col("age"), col("id")))
print(df_nvl_ayush.show())

+---+----------------+----------+---+-------+-------+
| id|            name|       dob|age| salary|nvl_age|
+---+----------------+----------+---+-------+-------+
|  1|        John Doe|2024-08-01| 23| 1000.5|     23|
|  2|      Jane Smith|2024-08-02| 34|2000.75|     34|
|  3|      Jake White|2024-08-03| 18| 3000.1|     18|
|  4|      Jill Black|2024-08-04| 45|4000.25|     45|
|  5|     James Brown|2024-08-05| 29| 1500.3|     29|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|     23|
+---+----------------+----------+---+-------+-------+

None

In [ ]:
df_nvl2_ayush = df_ayush.withColumn("nvl2_age", nvl2(col("age"), col("id"), col("salary")))
print(df_nvl2_ayush.show())

+---+----------------+----------+---+-------+--------+
| id|            name|       dob|age| salary|nvl2_age|
+---+----------------+----------+---+-------+--------+
|  1|        John Doe|2024-08-01| 23| 1000.5|     1.0|
|  2|      Jane Smith|2024-08-02| 34|2000.75|     2.0|
|  3|      Jake White|2024-08-03| 18| 3000.1|     3.0|
|  4|      Jill Black|2024-08-04| 45|4000.25|     4.0|
|  5|     James Brown|2024-08-05| 29| 1500.3|     5.0|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|     6.0|
+---+----------------+----------+---+-------+--------+

None

In [ ]:
#reverse
from pyspark.sql.functions import reverse

In [ ]:
df_reverse_ayush = df_ayush.withColumn("reversed_name", reverse(col("name")))
df_reverse_ayush.show()

+---+----------------+----------+---+-------+----------------+
| id|            name|       dob|age| salary|   reversed_name|
+---+----------------+----------+---+-------+----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        eoD nhoJ|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      htimS enaJ|
|  3|      Jake White|2024-08-03| 18| 3000.1|      etihW ekaJ|
|  4|      Jill Black|2024-08-04| 45|4000.25|      kcalB lliJ|
|  5|     James Brown|2024-08-05| 29| 1500.3|     nworB semaJ|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|arhsiMramuKhsuyA|
+---+----------------+----------+---+-------+----------------+

In [ ]:
#initcap
from pyspark.sql.functions import initcap

In [ ]:
df_initcap_ayush = df_ayush.withColumn("capitalized_name", initcap(col("name")))
df_initcap_ayush.show()

+---+----------------+----------+---+-------+----------------+
| id|            name|       dob|age| salary|capitalized_name|
+---+----------------+----------+---+-------+----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        John Doe|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      Jane Smith|
|  3|      Jake White|2024-08-03| 18| 3000.1|      Jake White|
|  4|      Jill Black|2024-08-04| 45|4000.25|      Jill Black|
|  5|     James Brown|2024-08-05| 29| 1500.3|     James Brown|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|Ayushkumarmishra|
+---+----------------+----------+---+-------+----------------+

In [ ]:
#instr
from pyspark.sql.functions import instr

In [ ]:
df_instr_ayush = df_ayush.withColumn("position_of_a", instr(col("name"), "a"))
print(df_instr_ayush.show())
print(df_instr_ayush.printSchema())

+---+----------------+----------+---+-------+-------------+
| id|            name|       dob|age| salary|position_of_a|
+---+----------------+----------+---+-------+-------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|            0|
|  2|      Jane Smith|2024-08-02| 34|2000.75|            2|
|  3|      Jake White|2024-08-03| 18| 3000.1|            2|
|  4|      Jill Black|2024-08-04| 45|4000.25|            8|
|  5|     James Brown|2024-08-05| 29| 1500.3|            2|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|            9|
+---+----------------+----------+---+-------+-------------+

None
root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: double (nullable = true)
 |-- position_of_a: integer (nullable = true)

None

In [ ]:
#locate
from pyspark.sql.functions import locate

In [ ]:
df_locate_ayush = df_ayush.withColumn("locate_doe", locate("Doe", col("name")))
df_locate_ayush.show()

+---+----------------+----------+---+-------+----------+
| id|            name|       dob|age| salary|locate_doe|
+---+----------------+----------+---+-------+----------+
|  1|        John Doe|2024-08-01| 23| 1000.5|         6|
|  2|      Jane Smith|2024-08-02| 34|2000.75|         0|
|  3|      Jake White|2024-08-03| 18| 3000.1|         0|
|  4|      Jill Black|2024-08-04| 45|4000.25|         0|
|  5|     James Brown|2024-08-05| 29| 1500.3|         0|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         0|
+---+----------------+----------+---+-------+----------+

In [ ]:
#soundex
from pyspark.sql.functions import soundex

In [ ]:
df_soundex_ayush= df_ayush.withColumn("soundex_name", soundex(col("name")))
df_soundex_ayush.show()

+---+----------------+----------+---+-------+------------+
| id|            name|       dob|age| salary|soundex_name|
+---+----------------+----------+---+-------+------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        J530|
|  2|      Jane Smith|2024-08-02| 34|2000.75|        J525|
|  3|      Jake White|2024-08-03| 18| 3000.1|        J230|
|  4|      Jill Black|2024-08-04| 45|4000.25|        J414|
|  5|     James Brown|2024-08-05| 29| 1500.3|        J521|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|        A256|
+---+----------------+----------+---+-------+------------+

In [ ]:
#levenshtein
from pyspark.sql.functions import levenshtein

In [ ]:
df_levenshtein_ayush = df_ayush.withColumn("levenshtein_distance", levenshtein(col("name"), lit("Jon Doe")))
df_levenshtein_ayush.show()

+---+----------------+----------+---+-------+--------------------+
| id|            name|       dob|age| salary|levenshtein_distance|
+---+----------------+----------+---+-------+--------------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|                   1|
|  2|      Jane Smith|2024-08-02| 34|2000.75|                   7|
|  3|      Jake White|2024-08-03| 18| 3000.1|                   7|
|  4|      Jill Black|2024-08-04| 45|4000.25|                   8|
|  5|     James Brown|2024-08-05| 29| 1500.3|                   8|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|                  16|
+---+----------------+----------+---+-------+--------------------+

In [ ]:
#conv
from pyspark.sql.functions import conv

In [ ]:
df_conv_ayush = df_ayush.withColumn("binary_value", conv(col("id"), 10, 2))
df_conv_ayush.show()

+---+----------------+----------+---+-------+------------+
| id|            name|       dob|age| salary|binary_value|
+---+----------------+----------+---+-------+------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|           1|
|  2|      Jane Smith|2024-08-02| 34|2000.75|          10|
|  3|      Jake White|2024-08-03| 18| 3000.1|          11|
|  4|      Jill Black|2024-08-04| 45|4000.25|         100|
|  5|     James Brown|2024-08-05| 29| 1500.3|         101|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         110|
+---+----------------+----------+---+-------+------------+

In [ ]:
#translate
from pyspark.sql.functions import translate

In [ ]:
df_translate_ayush = df_ayush.withColumn("translated_name", translate(col("name"), "o", "a"))
df_translate_ayush.show()

+---+----------------+----------+---+-------+----------------+
| id|            name|       dob|age| salary| translated_name|
+---+----------------+----------+---+-------+----------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|        Jahn Dae|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      Jane Smith|
|  3|      Jake White|2024-08-03| 18| 3000.1|      Jake White|
|  4|      Jill Black|2024-08-04| 45|4000.25|      Jill Black|
|  5|     James Brown|2024-08-05| 29| 1500.3|     James Brawn|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|AyushKumarMishra|
+---+----------------+----------+---+-------+----------------+

In [ ]:
#crc32
from pyspark.sql.functions import crc32

In [ ]:
df_crc32_ayush= df_ayush.withColumn("crc32_name", crc32(col("name")))
df_crc32_ayush.show()

+---+----------------+----------+---+-------+----------+
| id|            name|       dob|age| salary|crc32_name|
+---+----------------+----------+---+-------+----------+
|  1|        John Doe|2024-08-01| 23| 1000.5|1782059462|
|  2|      Jane Smith|2024-08-02| 34|2000.75|3280634359|
|  3|      Jake White|2024-08-03| 18| 3000.1| 931505628|
|  4|      Jill Black|2024-08-04| 45|4000.25|3628743810|
|  5|     James Brown|2024-08-05| 29| 1500.3|3837056040|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|1269445140|
+---+----------------+----------+---+-------+----------+

In [ ]:
#expr
from pyspark.sql.functions import expr

In [ ]:
df_uuid_ayush = df_ayush.withColumn("uuid", expr("uuid()"))

In [ ]:
df_uuid_ayush.show(truncate = False)

+---+----------------+----------+---+-------+------------------------------------+
|id |name            |dob       |age|salary |uuid                                |
+---+----------------+----------+---+-------+------------------------------------+
|1  |John Doe        |2024-08-01|23 |1000.5 |33536b03-092d-42dd-ae15-2287a6cf3795|
|2  |Jane Smith      |2024-08-02|34 |2000.75|5e7a1284-53c2-422e-be47-60dc1614b099|
|3  |Jake White      |2024-08-03|18 |3000.1 |a214c2c3-1239-4df0-a0a0-a0b170f6eb46|
|4  |Jill Black      |2024-08-04|45 |4000.25|3306005a-582c-408c-9bdd-7772f1bcd29a|
|5  |James Brown     |2024-08-05|29 |1500.3 |52596802-26e4-45f6-b0ea-46b4094006d5|
|6  |AyushKumarMishra|2024-08-06|23 |2500.1 |0d71de2b-2718-432e-b3d9-d017051eb0b0|
+---+----------------+----------+---+-------+------------------------------------+

In [ ]:
#percent_rank
from pyspark.sql.functions import percent_rank

In [ ]:
windowSpec_ayush = Window.orderBy(col("salary").desc())

In [ ]:
df_percent_rank_ayush = df_ayush.withColumn("percent_rank", percent_rank().over(windowSpec_ayush))
df_percent_rank_ayush.show()

+---+----------------+----------+---+-------+------------+
| id|            name|       dob|age| salary|percent_rank|
+---+----------------+----------+---+-------+------------+
|  4|      Jill Black|2024-08-04| 45|4000.25|         0.0|
|  3|      Jake White|2024-08-03| 18| 3000.1|         0.2|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|         0.4|
|  2|      Jane Smith|2024-08-02| 34|2000.75|         0.6|
|  5|     James Brown|2024-08-05| 29| 1500.3|         0.8|
|  1|        John Doe|2024-08-01| 23| 1000.5|         1.0|
+---+----------------+----------+---+-------+------------+

In [ ]:
#cume_dist
from pyspark.sql.functions import cume_dist

In [ ]:
df_cume_dist_ayush = df_ayush.withColumn("cume_dist", cume_dist().over(windowSpec_ayush))
df_cume_dist_ayush.show()

+---+----------------+----------+---+-------+-------------------+
| id|            name|       dob|age| salary|          cume_dist|
+---+----------------+----------+---+-------+-------------------+
|  4|      Jill Black|2024-08-04| 45|4000.25|0.16666666666666666|
|  3|      Jake White|2024-08-03| 18| 3000.1| 0.3333333333333333|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|                0.5|
|  2|      Jane Smith|2024-08-02| 34|2000.75| 0.6666666666666666|
|  5|     James Brown|2024-08-05| 29| 1500.3| 0.8333333333333334|
|  1|        John Doe|2024-08-01| 23| 1000.5|                1.0|
+---+----------------+----------+---+-------+-------------------+

In [ ]:
#ntile
from pyspark.sql.functions import ntile

In [ ]:
df_ntile_ayush = df_ayush.withColumn("ntile", ntile(3).over(windowSpec_ayush))
df_ntile_ayush.show()

+---+----------------+----------+---+-------+-----+
| id|            name|       dob|age| salary|ntile|
+---+----------------+----------+---+-------+-----+
|  4|      Jill Black|2024-08-04| 45|4000.25|    1|
|  3|      Jake White|2024-08-03| 18| 3000.1|    1|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|    2|
|  2|      Jane Smith|2024-08-02| 34|2000.75|    2|
|  5|     James Brown|2024-08-05| 29| 1500.3|    3|
|  1|        John Doe|2024-08-01| 23| 1000.5|    3|
+---+----------------+----------+---+-------+-----+

In [ ]:
# flatten
from pyspark.sql.functions import flatten

In [ ]:
df_flatten_ayush = df_ayush.withColumn("flattened_array", flatten(array(array(lit(1), lit(2)), array(lit(3)))))
df_flatten_ayush.show()

+---+----------------+----------+---+-------+---------------+
| id|            name|       dob|age| salary|flattened_array|
+---+----------------+----------+---+-------+---------------+
|  1|        John Doe|2024-08-01| 23| 1000.5|      [1, 2, 3]|
|  2|      Jane Smith|2024-08-02| 34|2000.75|      [1, 2, 3]|
|  3|      Jake White|2024-08-03| 18| 3000.1|      [1, 2, 3]|
|  4|      Jill Black|2024-08-04| 45|4000.25|      [1, 2, 3]|
|  5|     James Brown|2024-08-05| 29| 1500.3|      [1, 2, 3]|
|  6|AyushKumarMishra|2024-08-06| 23| 2500.1|      [1, 2, 3]|
+---+----------------+----------+---+-------+---------------+

In [ ]:
#grouping_id, #F
from pyspark.sql.functions import grouping_id
from pyspark.sql import functions as F

In [ ]:
df_grouping_sets_ayush = df_ayush.cube("age", "salary").agg(grouping_id().alias("grouping_id"), F.sum("salary"))
df_grouping_sets_ayush.show()

+----+-------+-----------+-----------+
| age| salary|grouping_id|sum(salary)|
+----+-------+-----------+-----------+
|NULL| 1000.5|          2|     1000.5|
|  34|   NULL|          1|    2000.75|
|NULL| 3000.1|          2|     3000.1|
|NULL|   NULL|          3|    14002.0|
|  23|   NULL|          1|     3500.6|
|  34|2000.75|          0|    2000.75|
|NULL|2000.75|          2|    2000.75|
|  23| 1000.5|          0|     1000.5|
|  18| 3000.1|          0|     3000.1|
|  18|   NULL|          1|     3000.1|
|  23| 2500.1|          0|     2500.1|
|  29| 1500.3|          0|     1500.3|
|NULL| 1500.3|          2|     1500.3|
|  45|   NULL|          1|    4000.25|
|NULL|4000.25|          2|    4000.25|
|  29|   NULL|          1|     1500.3|
|  45|4000.25|          0|    4000.25|
|NULL| 2500.1|          2|     2500.1|
+----+-------+-----------+-----------+

In [ ]:
df_rollup_ayush= df_ayush.rollup("age", "salary").count()
df_rollup_ayush.show()

+----+-------+-----+
| age| salary|count|
+----+-------+-----+
|  34|   NULL|    1|
|NULL|   NULL|    6|
|  23|   NULL|    2|
|  34|2000.75|    1|
|  23| 1000.5|    1|
|  18| 3000.1|    1|
|  18|   NULL|    1|
|  23| 2500.1|    1|
|  29| 1500.3|    1|
|  45|   NULL|    1|
|  29|   NULL|    1|
|  45|4000.25|    1|
+----+-------+-----+

In [ ]:
#corr
from pyspark.sql.functions import corr

In [ ]:
df_corr_ayush = df_ayush.select(corr(col("age"), col("salary")))
df_corr_ayush.show()

+-------------------+
|  corr(age, salary)|
+-------------------+
|0.46955187960493777|
+-------------------+

In [ ]:
#collect_list
from pyspark.sql.functions import collect_list

In [ ]:
from pyspark.sql.functions import collect_list

In [ ]:
df_all_ayush = df_ayush.groupBy("age").agg(collect_list("name").alias("names")).show()
df_all_ayush

+---+--------------------+
|age|               names|
+---+--------------------+
| 34|        [Jane Smith]|
| 18|        [Jake White]|
| 23|[John Doe, AyushK...|
| 29|       [James Brown]|
| 45|        [Jill Black]|
+---+--------------------+