In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count

In [ ]:
spark = SparkSession.builder \
    .appName("Flights Analysis") \
    .getOrCreate()

flights = spark.read.format("csv") \
.option("header", "true") \
    .option("inferSchema", "true") \
    .load("/content/departuredelays.csv")

In [ ]:
flights.createOrReplaceTempView("flights_ayush")

In [ ]:
avg_delay_by_origin_ayush= spark.sql("""
    SELECT origin, AVG(delay) as avg_delay
    FROM flights_ayush
    GROUP BY origin
    ORDER BY avg_delay DESC
    LIMIT 10
""")

In [ ]:
avg_delay_by_origin_ayush.show()

+------+------------------+
|origin|         avg_delay|
+------+------------------+
|   GUM|28.610169491525422|
|   MQT|26.215686274509803|
|   SCE| 24.98095238095238|
|   LSE|23.630434782608695|
|   GUC| 23.28082191780822|
|   MDW| 22.62344751206392|
|   ORD|22.000290472501938|
|   EGE|21.743859649122808|
|   JFK|21.680050188205772|
|   LNK| 20.75072463768116|
+------+------------------+

In [ ]:
flights_by_day_ayush = spark.sql("""
    SELECT
        date,
        COUNT(*) as total_flights,
        AVG(delay) as avg_delay
    FROM flights_ayush
    GROUP BY date
    ORDER BY date
    LIMIT 7
""")

In [ ]:
flights_by_day_ayush.collect()

[Row(date=1010005, total_flights=1, avg_delay=-8.0),
 Row(date=1010010, total_flights=1, avg_delay=-6.0),
 Row(date=1010020, total_flights=2, avg_delay=-1.0),
 Row(date=1010023, total_flights=1, avg_delay=14.0),
 Row(date=1010025, total_flights=2, avg_delay=15.0),
 Row(date=1010029, total_flights=1, avg_delay=49.0),
 Row(date=1010030, total_flights=3, avg_delay=-5.666666666666667)]

In [ ]:
flights_by_day_ayush.show()

+-------+-------------+------------------+
|   date|total_flights|         avg_delay|
+-------+-------------+------------------+
|1010005|            1|              -8.0|
|1010010|            1|              -6.0|
|1010020|            2|              -1.0|
|1010023|            1|              14.0|
|1010025|            2|              15.0|
|1010029|            1|              49.0|
|1010030|            3|-5.666666666666667|
+-------+-------------+------------------+

In [ ]:
top_delayed_routes_ayush = spark.sql("""
    SELECT
        origin,
        destination,
        SUM(delay) as total_delay,
        COUNT(*) as flight_count
    FROM flights_ayush
    GROUP BY origin, destination
    ORDER BY total_delay DESC
    LIMIT 5
""")

In [ ]:
top_delayed_routes_ayush.show()

+------+-----------+-----------+------------+
|origin|destination|total_delay|flight_count|
+------+-----------+-----------+------------+
|   LAX|        SFO|      40378|        2093|
|   ATL|        LGA|      34913|        2501|
|   DEN|        LAX|      33479|        1890|
|   SFO|        LAX|      31992|        2120|
|   ORD|        SFO|      30658|        1112|
+------+-----------+-----------+------------+

In [ ]:
avg_delay_by_origin_ayush.show()

+------+------------------+
|origin|         avg_delay|
+------+------------------+
|   GUM|28.610169491525422|
|   MQT|26.215686274509803|
|   SCE| 24.98095238095238|
|   LSE|23.630434782608695|
|   GUC| 23.28082191780822|
|   MDW| 22.62344751206392|
|   ORD|22.000290472501938|
|   EGE|21.743859649122808|
|   JFK|21.680050188205772|
|   LNK| 20.75072463768116|
+------+------------------+

In [ ]:
flights_by_day_ayush.show()

+-------+-------------+------------------+
|   date|total_flights|         avg_delay|
+-------+-------------+------------------+
|1010005|            1|              -8.0|
|1010010|            1|              -6.0|
|1010020|            2|              -1.0|
|1010023|            1|              14.0|
|1010025|            2|              15.0|
|1010029|            1|              49.0|
|1010030|            3|-5.666666666666667|
+-------+-------------+------------------+

In [ ]:
top_delayed_routes_ayush.show()

+------+-----------+-----------+------------+
|origin|destination|total_delay|flight_count|
+------+-----------+-----------+------------+
|   LAX|        SFO|      40378|        2093|
|   ATL|        LGA|      34913|        2501|
|   DEN|        LAX|      33479|        1890|
|   SFO|        LAX|      31992|        2120|
|   ORD|        SFO|      30658|        1112|
+------+-----------+-----------+------------+

In [ ]:
spark.stop()

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count, hour, month

In [ ]:
spark = SparkSession.builder \
    .appName("Extended Flights Analysis") \
    .getOrCreate()

In [ ]:
flights = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/content/departuredelays.csv")

In [ ]:
flights.createOrReplaceTempView("flights_ayush")

In [ ]:
avg_delay_by_origin_ayush = spark.sql("""
    SELECT origin, AVG(delay) as avg_delay
    FROM flights_ayush
    GROUP BY origin
    ORDER BY avg_delay DESC
    LIMIT 10
""")

In [ ]:
busiest_routes_ayush=spark.sql("""

SELECT
origin,
destination,
COUNT(*) as flight_count
FROM flights_ayush
GROUP BY origin, destination
ORDER BY flight_count DESC
LIMIT 5
""")

In [ ]:
monthly_trends_ayush = spark.sql("""
    SELECT
        SUBSTRING(CAST(date AS STRING), 5, 2) as month,
        COUNT(*) as total_flights,
        AVG(delay) as avg_delay
    FROM flights_ayush
    GROUP BY SUBSTRING(CAST(date AS STRING), 5, 2)
    ORDER BY month
""")

In [ ]:
delayed_percentage_ayush = spark.sql("""
    SELECT
        origin,
        COUNT(*) as total_flights,
        SUM(CASE WHEN delay > 0 THEN 1 ELSE 0 END) as delayed_flights,
        (SUM(CASE WHEN delay > 0 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) as delayed_percentage
    FROM flights_ayush
    GROUP BY origin
    ORDER BY delayed_percentage DESC
    LIMIT 10
""")

In [ ]:
delay_by_hour_ayush = spark.sql("""
    SELECT
        CAST(SUBSTRING(CAST(date AS STRING), 10, 2) AS INT) as hour,
        AVG(delay) as avg_delay
    FROM flights_ayush
    GROUP BY SUBSTRING(CAST(date AS STRING), 10, 2)
    ORDER BY hour
""")

In [ ]:
avg_delay_by_origin_ayush.show()

+------+------------------+
|origin|         avg_delay|
+------+------------------+
|   GUM|28.610169491525422|
|   MQT|26.215686274509803|
|   SCE| 24.98095238095238|
|   LSE|23.630434782608695|
|   GUC| 23.28082191780822|
|   MDW| 22.62344751206392|
|   ORD|22.000290472501938|
|   EGE|21.743859649122808|
|   JFK|21.680050188205772|
|   LNK| 20.75072463768116|
+------+------------------+

In [ ]:
busiest_routes_ayush.show()

+------+-----------+------------+
|origin|destination|flight_count|
+------+-----------+------------+
|   ATL|        LGA|        2501|
|   ATL|        MCO|        2136|
|   SFO|        LAX|        2120|
|   LAX|        SFO|        2093|
|   DAL|        HOU|        2047|
+------+-----------+------------+

In [ ]:
monthly_trends_ayush.show()

+-----+-------------+------------------+
|month|total_flights|         avg_delay|
+-----+-------------+------------------+
|   00|        22768|12.581210470836261|
|   01|        18816|13.249734268707483|
|   02|        17294|14.755348675841333|
|   03|        19810|13.902826855123674|
|   04|        15948|14.260785051417106|
|   05|        17984|14.089968861209965|
|   10|        19954|14.318181818181818|
|   11|        17618|12.912702917470769|
|   12|        15733|12.583995423631857|
|   13|        14865|12.576387487386478|
|   14|        14423|13.153227483879913|
|   15|        16204|13.479449518637374|
|   20|        17067|12.804945215913751|
|   21|        13889|12.446756425948593|
|   22|        11598| 13.79660286256251|
|   23|        13377|12.314046497719968|
|   24|        11323|12.844034266537136|
|   25|        12820|12.277223088923558|
|   30|        13475|12.693803339517626|
|   31|        12426|13.186946724609689|
+-----+-------------+------------------+
only showing top 20 rows

In [ ]:
delayed_percentage_ayush.show()

+------+-------------+---------------+------------------+
|origin|total_flights|delayed_flights|delayed_percentage|
+------+-------------+---------------+------------------+
|   LSE|           92|             60| 65.21739130434783|
|   DAL|        11272|           7153| 63.45812633073101|
|   MDW|        12641|           7881| 62.34475120639190|
|   HOU|         9619|           5578| 57.98939598710885|
|   DEN|        53148|          30760| 57.87611951531572|
|   BWI|        21558|          12448| 57.74190555710177|
|   ISP|          834|            479| 57.43405275779376|
|   ORD|        41312|          22867| 55.35195584817971|
|   OAK|         6513|           3579| 54.95163519115615|
|   FLL|        11405|           6037| 52.93292415607190|
+------+-------------+---------------+------------------+

In [ ]:
delay_by_hour_ayush.show()

+----+------------------+
|hour|         avg_delay|
+----+------------------+
|NULL|13.048460052928975|
+----+------------------+

In [ ]:
spark.stop()